<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>🦁나만의 웹서비스 아이디어 페이지🦁</title>
    </head>
    <body>




  
        <a id="top"></a>
        <h3>🦁나만의 웹서비스 아이디어 페이지🦁</h3><br>
        <p> <strong>멋쟁이사자처럼 10기 임아현의 IDEA</strong> <br>
        제가 구현을 해보고 싶은 웹서비스는 지속가능한소비/착한소비, 자세교정, 스터디 모집, 여성건강관리 통합 서비스 총 4가지 아이디어를 생각해보았습니다.<br>
        아래에서 더 자세하게 아이디어를 소개하도록 하겠습니다. </p>
        <hr>

        <h4>아이디어 한줄 소개 & 목표</h4>
        <ul>
            <li>지속가능한소비/착한소비 라이프를 위한 웹 서비스</a></li>
            <br>핵심키워드 3가지 <string>#환경</strong><string>#착한소비</strong><string>#실천</strong> <br><br>
                      
            <ol>
                 
                <li>오늘날 심각한 환경문제를 해결하기 위해 현대인의 실천을 장려하고자 한다. </li>
                <li>제로웨이스트를 실천,에너지 절감 제품을 사용하는 친환경 소비, 비윤리적으로 생산되는 제품이나 가축을 소비 하지 않는 윤리적인 소비 실천을 유도하여 환경문제에 대한 심각성을 알린다.</li>
                <li>서로 실천 행동을 공유하며 격려하고 환경문제 해결방안에 대한 토론의 장을 마련하고 지속적인 실천이 가능하도록 동기부여를 제공한다.</li>
            
            </ol> <br><br>



            <li>나의 자세를 인식하고 분석을 통해 올바른 자세를 교정해주는 서비스 </a></li>
            <br>핵심키워드 3가지 <string>#올바른 자세</strong><string>#거북목</strong><string>#건강</strong><br><br>
            <ol>
                <li>심각한 현대인의 고질병 거북목 건강한 자세습관을 만들어보고자 한다.</li>
                <li>평소 자세 습관 분석을 통해 올바른 자세를 유도한다.</li>
            </ol><br><br>


            <li>원하는 분야, 공모전 대회 준비 등 자유롭게 모여 스터디를 진행할 수 있는 서비스</a></li>
            <br>핵심키워드 3가지 <string>#스터디</strong><string>#자유</strong><string>#다양한 분야</strong><br><br>
            <ol>
                <li>다양한 분야 , 다양한 영역 스터디를 개최하여 팀원을 모집하여 필요한 자료들을 공유하며 격려한다. </li>
                <li>스터디를 통해 공부습관이 지속적으로 유지 가능하도록 동기부여를 제공한다. </li>

            </ol><br><br>


            <li>연령별 여성에게 나타나는 다양한 여성질환을 미리 예방하고 셀프 건강상태 기록을 할 수 있는 여성건강 통합 서비스</a></li>
            <br>핵심키워드 3가지 <string>#여성</strong><string>#통합관리</strong><string>#건강</strong><br><br>
            <ol>
                <li>여성과 전문의, 여성과 여성 전문 병원을 잇는 매개체 역할을 해줌으로서 더욱 편리하고 안전하게 병원 이용이 가능하다.</li>
                <li>다양한 정보를 기록해 통합적으로 관리하고 전문가의 상담을 통해 연령대별로 다양하게 나타날 수 있는 여성질환을 미리 예방할 수 있다. </li>
            </ol><br><br>
            
        </ul>
        <h4>핵심기능 </h4>
    
  
        <ol>
            <li>지속가능한소비/착한소비</li> 
            <table border="1">
                <tr><td>
                <ul>
                    <li>
                        제로웨이스트 구매처, 윤리적인 기업 상품, 비건 식품 판매처 정보 제공
                    </li>
                    <li>커뮤니티, 실제 나무 씨앗 생성 </li>
                    <li>착한 소비를 많이 할수록 포인트를 쌓아 나무 씨앗을 생성하고, 일정 포인트가 쌓이면 실제로 나무를 심어줄 수 있는 기능   </li>
                
                </ul>
                </td></tr>
            </table>
            <p>
               <li>올바른 자세교정</li>
            <table border="1"> 
                <tr><td>
                    <ul>
                        <li>자세분석 - 일정횟수 거북목 , 어깨 비틀림 등 자세가 불균형한 경우 알림  -> 자세 개선 사항 출력 </li>
                        <li>인근 정형외과, 한의원, 헬스장 추천</li>
                    
                    </ul>
                
                </td></tr>  
            </table> 
            <p>
            <li>자유 스터디 모집</li> 
            <table border="1">

                <tr><td>
                    <ul>
                        <li>
                            팀원 모집 게시판
                        </li>
                        <li>커뮤니티게시판 - 과제나 todolist 올리고 동기부여, 질문 게시판 </li>
                        <li>자료공유게시판/ 책 거래 게시판 - 포인트를 통해 사용가능 </li>
                        <li>스터디 별점 평가에 따라 뱃지 표시 , 포인트 증정 </li>
                    
                    </ul>

                </td></tr>
            </table>

            <li>여성 질환 통합 관리 서비스</li> 
            <table border="1">

                <tr><td>
                    <ul>
                        <li>
                            여성 병원, 여성 전문의 추천
                        </li>
                        <li>건강 상태 관리하고 기록할 수 있는 공간  </li>
                        <li>셀프 캘린더 - 월경주기 , 피임약 복용, 임신 출산 정보 기록 </li>
                        <li>커뮤니티 </li>
                    
                    </ul>
                    
                </td></tr>
            </table>
        </ol> 

        <h4>차별성 & 시장 분석과 수익구조</h4> 
        <li>수익구조</a></li>
            <ol>
                <li>웹 배너 광고 수수료</li>
                <li>업체/병원 추천 광고</li>
                <li>포인트 -> 구독료</li>
            </ol><br><br>
        












        <form action="/my-idea-page" method="post">
            사람들이 이 웹 서비스를 이용할 이유가 분명한가 : <input type="radio" name="select" value="yes"/> 예
            <input type="radio" name="select" value="no"/> 아니오 <br><br>
    
            평가항목 : <br>
            <input type="checkbox" name="feedback" value="level"/> 구현 난이도가 적당하다(실현 가능한가)<br>
            <input type="checkbox" name="feedback" value="Differentiation"/> 기존의 웹서비스와 차별성이 있는가?<br>
            <input type="checkbox" name="feedback" value="original"/> 문제를 해결하는 아이디어가 독창적인가? <br>
            <input type="checkbox" name="feedback" value="dry"/> 아이디어가 이해하기 쉬운가?(전달력)
            <br><br>
          

            <hr> <br>
            종합적인 피드백: <br> <textarea name="comments" rows="5" cols="50"> 위의 아이디어에 대한 종합적인 피드백을 작성해주세요. </textarea>
           <br>
            <input type="submit" value ="제출"> &nbsp;&nbsp;&nbsp;
            <input type="reset" value="취소">&nbsp;&nbsp;&nbsp;
            <input type="button" value="확인" onclick="alert('입력값을 확인합니다')">&nbsp;&nbsp; 
            <br><br>

          </form>
        

        
    </body>
</html>



